.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

.about-section__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}
