.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-header {
  text-align: center;
  font-size: 4rem;
}

.about-section__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

.about-section__bio {
  font-size: 1.2rem;
}

.about-section__content--projects {
  display: block
}
