.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 630px) {
  .navbar {
    display: none;
  }
}

@media only screen and (min-width: 635px) {
  .mobile-navbar {
    display: none;
  }
}
