.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #3F72AF;
}

.navbar-home {
  display: flex;
  align-items: center;
}

.navbar-profile {
  width: 30px;
  border-radius: 50px;
  margin-right: 5px;
}

.navbar-right {
  display: flex;
  gap: 30px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  color: #DBE2EF;
}

.navbar-dropbutton {
  border: 0;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #3F72AF;
  color: #DBE2EF;
}

.dropdown-content {
  position: absolute;
  margin-top: 10px;
  background-color: #3F72AF;
}

.dropdown-content__project {
  margin-top: 5px;
}

@media only screen and (max-width: 1000px) {
  nav {
    width: 925px;
  }
}
