.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}


.education ul {
  list-style-type: none;
}

.personal ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.skills,
.experiences,
.past-work,
.education,
.personal {
  margin-bottom: 20px;
}

.skills {
  margin-right: 125px;
}

.past-work {
  margin-left: 125px;
  margin-right: 70px;
}

.education {
  margin-right: 320px;
}

.personal {
  margin-right: 460px;
}

h2 {
  margin-top: 30px;
}

ul {
  margin-top: 0;
}

h4 {
  margin-top: 10px;
}

.personal p {
  margin-top: 10px;
  margin-bottom: 5px;
}

.personal ul {
  padding-left: 20px;
}
