.skills-title {
  position: relative;
  left: 10px;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 600px;
}

.skills-container__skill {
  background-color: #3F72AF;
  padding: 10px;
  border-radius: 20px;
}

@media only screen and (max-width: 630px) {
  .skills-container {
    width: 100%;
  }
}
